@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}



/* ================= utility classes ================== */

.container{
    max-width: 1400px;
    width: 95%;
    margin: 0 auto;
}






/* ===================== navbar styling ================= */

.navbar{
    height: 10rem;
    position: fixed;
    width: 100%;
    background: #fff;
    opacity: 1;
    z-index: 2;
    border-radius: 20px;
    /* background: black; */
}

.logo img{
    display: inline-block;
    height: 10rem;

}

.navbar .logo{
    float: left;
    width: 50%;
}
.navbar .nav-items{
    float: right;
    width: 50%;
}
.nav-items ul{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    
}
.nav-items a{
    /* color: white; */
    font-size: 1.6rem;
    font-weight: 500;
    transition: all ease-in-out 0.4s;
    padding: 1rem 2rem;
    border-radius: 20px;
}
.nav-items a:hover{
    background: rgba(0, 0, 0, 0.775);
    color: white;
}





/* ======================== home styling =============== */

.home-background-n-text{
    background: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.537)) ,url('../Images/homeBackgroundImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    position: relative;
}
.home-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-text .heading{
    text-align: center;
    color: whitesmoke;
    font-size: 10rem;
    font-weight: 500;
    border-bottom: 7px solid white;
    
    
}
.home-slogan{
    color: whitesmoke;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 500;
}





/* ====================== notice board styling =================== */

.notice-bord-content{
    height: 35rem;
    box-shadow: 0px 5px 10px 5px #00000076;
    border-radius: 10px;
    transition: all ease-in-out 0.4s;
    
}
.notice-bord-content .image-part{
    float: left;
    width: 40%;

}
.image-part img{
    width: 95%;
    height: 35rem;
}

.notice-bord-heading{
    font-size: 4rem;
    text-align: center;
    margin: 7rem 0 5rem 0;
    padding-top: 0.5rem;
}
.text-part{
    display: flex;
    flex-direction: column;
    
}
.text-part-heading{
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    
}
.text-part-para1{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 5rem 0 1.5rem 0;
    text-align: center;
}
.text-part-para2{
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
    text-align: center;
}
.buttons{
    text-align: center;
    padding-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.buttons button{
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    background: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    transition: all ease-in-out 0.4s;
}
.buttons button:hover{
    background: white;
    color: black;
    border: 2px solid black;
}

.notice1{
    display: block;
}
.notice2{
    display: none;
}
.notice3{
    display: none;
}
.notice4{
    display: none;
}
.notice5{
    display: none;
}
.next_btn{
    top: 45%;
    left: 100%;
    transform: translate(-50%, -50%);

}
.prev_btn{
    top: 45%;
    left: 0%;
    transform: translate(-50%, -50%);
    
}
.slider-btns{
    background: none;
    border: none;
    width: 5rem;
    height: 5rem;
    opacity: 0.6;
    font-size: 3rem;
    font-weight: 700;
    color: black;
    background: white;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
}
.slider-btns:hover{
    background: rgba(0, 0, 0, 0.699);
    color: white;
}

.prev-btn-noticecontent-next-btn{
    position: relative;
    padding-bottom: 3rem;
}
.prev-btn-noticecontent-next-btn .prev_btn,
.prev-btn-noticecontent-next-btn .next_btn{
    position: absolute;
}

.notice-board-circles{
    text-align: center;
    margin-bottom: 8rem;
    transition: all ease-in-out 0.3s;
}
.notice-board-circles button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.2);
}







/* ============================ event-section-styling===================== */

.past-event-heading{
    font-size: 4rem;
    text-transform: capitalize;
    margin-top: 10rem;
    text-align: center;
    padding: 3rem 0 5rem 0;
}
.past-event-section{
    display: grid;
    grid-template-columns: 45rem 45rem 45rem;
    gap: 5px 15px;
    padding: 2rem;
    margin-bottom: 5rem;
}
.event{
    text-align: center;
    height: 60rem;
    /* border: 2px solid black; */
    background: #ffffffab;
    box-shadow: 5px 5px 10px black;
    padding: 1rem;
}
.event img{
    height: 30rem;
}
.event h1{
    font-size: 2.8rem;
    padding-top: 10rem;
    text-transform: capitalize;
}
.event p{
    font-size: 2rem;
    text-transform: capitalize;
}
.event-btns{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5rem;
}
.event-btns button{
    background: red;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    width: 35%;
    height: 4.2rem;
    cursor: pointer;
    border: none;
    transition: all ease-in-out 0.4s;
}
.event-btns button:hover{
    background: rgba(0, 0, 0, 0.699);
    color: white;
}








/* ========================= inspiration section styling ==================== */

.inspiration-section h1{
    font-size: 4rem;
    text-transform: capitalize;
    margin-top: 10rem;
    text-align: center;
    padding: 3rem 0 5rem 0;
}
.inspiration{
    text-align: center;
    padding-bottom: 5rem;
    /* border: 2px solid black; */
}
.inspiration img{
    height: 40vh;
    width: auto;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50%;
}
.inspiration-name{
    font-size: 2.8rem;
}
.profession{
    font-size: 2rem;
}




/* ================ feedback section styling ============= */

.feedback{
    width: 100%;
    margin: 10rem 0 10rem 0;
}
.feedback::after{
    content: "";
    display: block;
    clear: both;
}
.feedback input{
    float: left;
    width: 70%;
    height: 7rem;
    text-align: center;
    font-size: 3rem;
    color: black;
    cursor: text;
}
.feedback button{
    float: right;
    height: 7rem;
    width: 20%;
    text-align: center;
    font-size: 3rem;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}
.feedback button:hover{
    background-color: #ffffffff;
    color: black;
    border: 2px solid black;
}







/* ==================== footer section styling =================== */

.footer{
    background: rgba(0, 0, 0, 0.831);
    height: 40rem;
}
.footer .container{
    display: flex;
}
.aisa-contacts img{
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 10px;
}
.aisa-contacts span{
    color: #fff;
} 
.aisa-contacts ul li{
    padding-bottom: 2rem;
}
.other-links a{
    color: white;
}
.location-image img{
    display: inline-block;
    height: 35rem;
    margin-top: 2.5rem;
}

.aisa-contacts{
    width: 33.33%;
    text-align: center;
    
}
.aisa-contacts .first-ul{
    display: flex;
}
.location-image{
    width: 33.33%;
    text-align: center;
}

.other-links{
    width: 33.33%;
    text-align: center;
    display: flex;
    padding-top: 2.5rem;
    
}
.other-links .first-ul{
    width: 50%;
}
.other-links .second-ul{
    width: 50%;
}
.other-links li{
    padding: 2rem;
}
.other-links a{
    font-size: 2.5rem;
}






